# custom-made aliases

alias install="sudo aptitude install"
alias update="sudo aptitude update"
alias upgrade="sudo aptitude upgrade"
alias remove="sudo aptitude remove"
alias purge="sudo aptitude remove --purge"
alias search="aptitude search"
alias show="aptitude show"

# gcp is a cp with progress bar
unalias "gcp"

alias ffmpeg="echo 'ALIAS OF AVCONV IN DEBIAN' && avconv"
alias py="python"
alias pingo="ping google.com"

alias t="tmux"
alias v="vim"

# Git aliases in addition to oh-my-zsh
alias gshow="git show"

alias op="gnome-open"
alias nau="nautilus ."

unalias "ll"
unalias "l"
alias l="ls -l"
alias ll="ls -la"

# This is not really an alias because it appends some stuff at the end
function ssh () {/usr/bin/ssh -t $@ "tmux attach -t loginbase || tmux new -s loginbase";}
function tn () {TMUX=`tmux new-session -d -s $1` && tmux switch-client -t $1;}
function ts () {tmux switch-client -t $1;}
function tls () {echo 'tmux Sessions:'; tmux list-sessions;}
function tk () {tmux kill-session -t $1;}
